<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="pers.train.admin.dao.FriendLinkMapper">

<!-- 定义sql片段 -->
<sql id="query_type_where">
 
	<if test="ids !=null and ids!='' ">
		<!-- foreach  遍历集合  拼接sql  id in(1,2) -->
         <foreach collection="ids" item="item" open="id in(" close=")" separator="," >        
         	#{item}
         </foreach> 
	</if>
	 
</sql>

<!-- 定义resultMap -->
<resultMap type="pers.train.admin.dao.FriendLinkMapper" id="linkResultMap">

	<id property="id" column="id"/>
	<result property="linkName" column="link_name"/>
	<result property="linkUrl" column="link_url"/>
	
</resultMap>

<!-- 查询全部栏目 -->
<select id="selectAll" resultMap="linkResultMap">
	select id,link_name,link_url from ps_friend_link
</select>

<!-- 模糊查询栏目 -->
<select id="selectByToken" parameterType="java.lang.String" resultMap="linkResultMap">
	select id,link_name,link_url from ps_friend_link where link_name LIKE '%${value}%' OR link_url LIKE '%${value}%'
</select>

<!-- 修改栏目名称 -->
<update id="updateByPrimaryKeySelective" parameterType="pers.train.admin.dao.FriendLinkMapper">
	update ps_friend_link
	<set>
	   <if test="linkName !=null and linkName !=''">
	    	link_name=#{linkName},
	   </if>
	   <if test="linkUrl !=null and linkUrl !=''">
	   		link_url=#{linkUrl}
	   </if>
	</set>
	where id=#{id}
	
</update>

<!-- 新增栏目 -->
<insert id="insert" parameterType="pers.train.admin.dao.FriendLinkMapper">
   <!-- 主键值返回 -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID()
    </selectKey>
	insert into ps_friend_link(link_name,link_url) 
	values (#{linkName}, #{linkUrl})
</insert>

<!-- 删除栏目 ->批量删除 -->
<delete id="deleteBatch" parameterType="pers.train.admin.dao.FriendLinkMapper"> 
	delete from ps_friend_link
	<where>
		<include refid="query_type_where"></include>
	</where>
	
</delete>

<!-- 单项删除 -->
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	delete from ps_friend_link where id=#{id}
</delete>

</mapper>