body{
	background-image: url(../image/bg.jpg);
}

.content{
	
	width: 960px;
	margin: 0 auto;
	margin-top: 90px;
	
}

.search {
	width: 500px;
	display: block;
	margin:0 auto;
    margin-top: 250px;
    
  
}
.search input {
	border: 1px solid #fff;
	line-height:40px;
	background:orange;
	border-radius:3px;
	height:40px;
	width: 500px;
	font-size:15px;
    color: #FFFFFF;
	background: url(../image/search_s.png) right  orange no-repeat;
	padding-right: 30px;
	transition: background 0.4s; 
}

.searchinput.x  { background-position: right 5px center; }   
.searchinput.onX{ cursor: pointer; }        


/* WebKit browsers */
::-webkit-input-placeholder {
	color: #777;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #777;
}


/***search-result*/
/**header  搜索**/
.search-container{
	display:none;
	width:530px;
	min-height:100px;
	border:#dbdbdb 2px solid;
    border-radius:3px;
    box-shadow:1px 5px 5px #EFEFEF;   	
	margin:0 auto;  
  
    background-color:#fff;
	line-height: 50px;
}

.search-container .search-user{
	width:100%;
}
.search-container .search-user table{

}
.search-container .search-user table tr{
	border-bottom: 1px solid #CCCCCC;
}
.search-container .search-user table tr  td{
	padding-left:20px;
}
.search-container .search-user table th  td{
	padding-left:20px;
}
.search-container p{
	display:inline-block;
    border-bottom: 1px solid #D9DCE1;
	font-size:17px;
	color:#848FA4;
	width: 500px;
	height:20px;
	line-height: 20px;
	margin-left: 20px;
}



.search-look-all-result{
	background: #F6F6F6;
	width: 520px;
	margin-top: 5px;
	height:40px;
	
}
.search-look-all-result a{
	color: #808080;
	text-decoration: none;
	display: inline-block;
	width: 520px;

	padding-left: 200px;
}
.search-look-all-result a:hover{
	color: #808080;
}


/**加载动画**/
.spinner {
  margin: 0  auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  text-align: center;
}
 
.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #0F88EB;
 
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
 
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* 访客提示  */
.guest-tip{
	width:400px;
	color: #000000;
	margin:0 auto;
	margin-top:100px;
	border: 2px dashed #cccccc;
	padding:20px;
}
