*{
	margin:0;
	padding:0;
}
body {
	background-color: #FFFFF;
	/*font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    */
	font-family:"Microsoft YaHei" ! important;
	background-image: url(../image/z.jpg);
}
.modalDialog {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	overflow: scroll;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 7% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #FFFFFF;
	
}
.modalDialog .openModal-title{
	display:inline-block;
	font-size:20px;
	padding-bottom:10px;
}
.modalDialog .openModal-login{
	margin-top:10px;
	width:500px;	
	border-top:1px solid #ccc;
	color:#666666;
	font-size:15px;
	
}
.modalDialog  .login-content{
	margin-top:20px;
	
}


.close {
	background: #606061;
	color: #FFFFFF; 
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { background: #0F88EB; }

.login-form  input:focus{
	border:1px solid #2188FF;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    box-shadow:0 0 10px rgba(0, 204, 204, .5); 
}
.login-form input[type="text"], .login-form input[type="password"] {
  width: 450px;
  border: 1px solid rgb(231, 234, 241);
  outline: none;
  padding: 12px 20px;
  color: #afafaf;

}

.login-form input:first-child{
	border-radius: 3px 3px 0 0;
	
}
.login-form input:last-child{
	border-radius:  0 0 3px 3px;
}
.login-form input[type="submit"] {
  background: #0F88EB;
  display: block;
  margin-top: 20px;
  width: 490px;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 17px;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  cursor: pointer;
 
}

.login-form a{
	display: inline-block;
	color: #666666;
	text-decoration: none;
	margin-top: 10px;
}

.login-form a:hover{
	color: #0F88EB;
	text-decoration: underline;
}

/*登录，注册*/
.menu-loginreg{
	display:none;
	float: left;
    opacity: 0.8;
}

.login-btn{
	

    height: 35px;
    width: 80px;
	background: #ffffff;
	border: 1px solid #0F88EB;
	border-radius: 3px;
	color: #0F88EB;
	text-decoration: none;
	display: table-cell;
    vertical-align: middle;
    text-align: center;  
	
}
.login-btn:hover{
	cursor:pointer;
	color:#0F88EB;
	background:#eff0f4;
}

 .reg-btn{
 	margin-left:10px;
 	width: 80px;
    height: 35px ;
	background: #FFFFFF;
	border: 1px solid #0F88EB;
	border-radius: 3px;
	color: #0F88EB;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
 	
}
 .reg-btn:hover{
 	cursor:pointer;  
	color:#0F88EB;
	background:#eff0f4;
 }
